<!Doctype html>
<html
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{% block morehead %}

{% endblock %} 
<style>
.nav {
background-image: url('http://tinyurl.com/qd773sl');
}
.one {
background-image: url('http://tinyurl.com/o6eb9nz');
}
body {
    background-color: #e3faf1;
    font-family: "Verdana";
    color: black;
}
h1 {
    color: white;
    font-family: "Verdana";
    text-align: center;
}
p {
    font-family: "Verdana";
    font-size: 18px;
    text-align: center;
}
li {
font-family: "Verdana";
}
</style>
</head>
<body>
{% block content %}
<p>TEMPLATES!</p>
{% endblock %}

</body>

</html>
