<!DOCTYPE html>
<html>
<head>
<title>SlothPal Home</title>
<style>
.nav {
	background-image: url('http://tinyurl.com/qd773sl');
}
.one {
	background-image: url('http://tinyurl.com/o6eb9nz');
}
body {
    background-color: #e3faf1;
    font-family: "Verdana";
    color: white;
}

h1 {
    color: white;
    font-family: "Verdana";
    text-align: center;
}

p {
    font-family: "Verdana";
    font-size: 18px;
    text-align: center;
}
li {
	font-family: "Verdana";
}
</style>
</head>

<body>
	<div class="nav">
	<div class="container">

	<ul>
		<li>Home</li>
		<li>What is SlothPal?</li>
		<li>Login</li>
		<li>Sign Up</li>
	</ul>
	<h1>Welcome to SlothPal!</h1> 

	<p> SlothPal provides a unique pen pal experience, featuring whimsical sloth art* sure to pleasure every and any sloth lover. :)</p>
	<p> *Disclaimer, we do not own any images on this website. All credit belongs to their rightful owner(s).</p>

</div>
</div>
<center>
<h3> Login </h3>
<form action="/login" method="post">
    <div class="one">
        <label for="username">username:</label>
        <input type="text" id="username" />
    <div>
        <label for="password">password:</label>
        <input type="password" id="password" />
    </div>
   <div class="button">
        <button type="submit">login</button>
    </div>
</form>
<h3> Don't have an account? Sign up </h3>
<form action="/account" method="post">
    <div>
        <label for="username">choose username:</label>
        <input type="text" id="username" />
    </div>
    <div>
        <label for="password">choose password:</label>
        <input type="password" id="password" />
    </div>
     <div>
        <label for="password2">confirm password:</label>
        <input type="password" id="password2" />
    </div>
     <div>
        <label for="name">What's your name?</label>
        <input type="text" id="name" />
    </div>
     <div>
        <label for="age">How old are you?</label>
        <select name="agedropdown">
		<option value="1">9-12</option>
		<option value="2">13-16</option>
		<option value="3">17-20</option>
		<option value="4">21-23</option>
		<option value="5">24-28</option>
		<option value="6">29-32</option>
		</select>
    </div>
     <div>
        <label for="country">What country are you from?</label>
          <select name="countrydropdown">
		<option value="USA">USA</option>
		<option value="Russia">Russia</option>
		<option value="China">China</option>
		<option value="Germany">Germany</option>
		<option value="France">France</option>
		<option value="Sweden">Sweden</option>
		<option value="Israel">Israel</option>
		<option value="Poland">Poland</option>
		<option value="India">India</option>
		<option value="South Korea">South Korea</option>
		<option value="Ghana">Ghana</option>
		<option value="Egypt">Egypt</option>
		</select>
    </div>
   <div class="button">
        <button type="submit">create account</button>
    </div>
</form>
</div>
</center>

</body></html>
