{% extends "base.html" %}


{% block content %}
<title>Sign up</title>
<h3>Sign Up</h3>
<form action="/signup" method="POST">
  Username: <input type="text" name="nuser"><br>
  Password: <input type="password" name="npswd"><br>
  Gender: <select name="gender">
          <option value="blank"> </option>
                <option value="male">Male</option>
                <option value="female">Female</option>
		<option value="fluid">Gender fluid</option>
		<option value="agender">Agender</option>
                <option value="null">Other</option>
                </select><!--Male, Female, gender fluid, agender, other-->
  Residing country: <input type="text" name="Countryin"><br>
  Target country: <input type="text" name="Countrylook"><br>
  
  <input type="submit" value="Sign Up">
</form>

{% endblock %}
